@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&family=Libre+Baskerville&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffff;
    font-family: "Inria Sans", sans-serif;
}

li,
a,
.cta {
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    transition: color 0.17s, background-color 0.17s, border 0.17s;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cta:hover {
    background-color: #ffff;
    color: #000000;
}

.cta:active {
    background-color: #000000;
    color: #ffff;
}

.nav-logo {
    font-size: 28px;
    display: inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: #0000005b solid 1px;
}

.nav-links,
li,
nav,
.cta {
    display: inline-block;
}

.nav-links {
    list-style: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px; /* Adjust the margin between navigation items */
}

a:hover {
    color: #f9473b;
}

.cta {
    padding: 10px 20px; /* Adjust padding for login CTA */
    border: 2px solid #000; /* Add a border for better visibility */
    border-radius: 5px; /* Add border-radius for a rounded appearance */
    color: #ffff;
    background-color: #f9473b;
}

.logo-letters {
    color: #f9473b;
    font-weight: 700;
}

.shape-obj-one {
    width: 100%;
    height: 80vh;
    background-color: #000000;
    clip-path: polygon(100% 0, 100% 82%, 25% 100%, 0 87%, 0 0);
    background-image: url("../assests/images/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.hero-landing-header-1 {
    text-align: start; /* Center text horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px; /* Adjust font size */
    background: transparent;
    position: absolute;
    color: #ffff;
    top: 20%;
    left: 10%;
    letter-spacing: 8px;
    line-height: 10vh;
    text-shadow: 3px 3px 8px #000000;
    font-weight: bolder;
}

.hero-landing-header-1-briliance {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px; /* Adjust font size */
    background: transparent;
    color: #f9473b;
    text-align: start;
    position: absolute;
    display: flex;
    top: 32%;
    left: 10%;
    letter-spacing: 8px;
    text-shadow: 3px 3px 8px #000000;
    font-weight: bolder;
}

.hero-landing-header-2 {
    text-align: start; /* Center text horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px; /* Adjust font size */
    background: transparent;
    position: absolute;
    color: #ffff;
    top: 47%;
    left: 10%;
    line-height: 6vh;
    text-shadow: 3px 3px 8px #000000;
}

.button-primary-lg {
    text-align: start; /* Center text horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px; /* Adjust font size */
    background: transparent;
    position: absolute;
    top: 60%;
    left: 10%;
    line-height: 6vh;
    border: #ffff solid 2px;
    box-shadow: 2px 2px 15px #000000;
}

.button-primary-lg:hover {
    color: #ffff;
    background-color: #f9473b;
    border: #f9473b solid 2px;
}

.button-primary-lg:active {
    color: #f9473b;
    background: transparent;
    border: #f9473b solid 2px;
}
.mobnav {
    display: none;
}

.mobnav ul li {
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-left: 10vh;
    padding-bottom: 10px;
}

.nav-toggler {
    position: absolute;
    top: 4%;
    right: 12%;
    width: 60px; /* Set the width of your div */
    height: 60px; /* Set the height of your div */
    background-image: url("../assests/icons/navtoggler1.png"); /* Specify the path to your image */
    background-size: cover; /* Adjust how the background image should be sized */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    display: none;
}

.nav-toggler:hover {
    background-image: url("../assests/icons/navtogller2.png");
}
/* nav bar toggler effects starts */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.loading-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.loading-list-item {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.loading-list-item:nth-child(1) {
    animation-delay: 0.2s;
}

.loading-list-item:nth-child(2) {
    animation-delay: 0.4s;
}

.loading-list-item:nth-child(3) {
    animation-delay: 0.6s;
}

.loading-list-item:nth-child(4) {
    animation-delay: 0.8s;
}

.loading-list-item:nth-child(5) {
    animation-delay: 1s;
}

/* nav bar toggler effects ends */

@media screen and (max-width: 840px) {
    .hero-landing-header-1,
    .hero-landing-header-1-briliance {
        font-size: 40px;
    }

    .hero-landing-header-2 {
        font-size: 25px;
    }

    .mobnav,
    .nav-toggler {
        display: block;
    }

    .desktop-header ul,
    .nav-login {
        display: none;
    }
}
